*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    user-select: none;
}
body{
background: #5e8b7e;
}

.head{
    background: #2f3746;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: .6rem;
    color: rgb(177, 173, 173);
}



.container{
    width: 80%;
    margin: 4rem auto 0 auto;
    display: flex;
}
.computer-section,.player-section,.score-details{
    width: 33.33%;
}

.score-details{
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 
    "one two"
    "three four"
    "five"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr .5fr;
}
.score-details > div{
    background: white;
    border-radius: .3rem;
    color: black;
    display: grid;
    height: 100%;
    grid-template-rows: 65% 35%;
    text-align: center;
}
.score-details p{
    background: #576a91;
}
.score-details span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.result-holder{
    width: 100%;
    grid-column: 1/3;
}
.score-details p{
    padding: .8rem;
    font-weight: 550;
}

#result{
    text-align: center;
    padding-top: .5rem;
    font-size: 2rem;
}
/*---------Selection Container----------------*/

.selection{
    margin-top: 3rem;
}
.selection-container{
    display: flex;
    width: 40%;
    justify-content: space-between;
    cursor: pointer;
    background: #3c5e7c;
    border: 1px solid black;
    margin: auto auto;
}
.selection-container > div{
padding: .7rem;
}
.selection-container > div:hover{
    background: rgba(138, 17, 23, 0.452);
}

.selection-container p{
    font-size: 1.5rem;
    font-weight: 600;
}
.bestof{
    width: 100%;
    padding: 2rem;
}
.button-holder{
    width: 10rem;
    margin: auto auto;
}
button{
    width: 10rem;
    height: 2.5rem;
    font-size: 1.1rem;
    outline: none;
    border: 0px solid;
    transition: all .5s ease-in-out;
    background: #012443;
    color: rgb(187, 185, 185);
    box-shadow: .0rem .3rem .9rem black;
}
button:hover{
    transform: translateY(-.5rem);
}

#comp-img,#plyr-img{
    width: 100%;
}

@media (max-width: 680px) {
    .selection-container{
        width: 80%;
    }
    .selection-container p{
    font-size: 1rem;
    }
    .container{
        width: 100%;
        margin-top: 1rem;
        /* height: 13rem; */
        display: grid;
        grid-template-areas:
        "one three"
        "two two";
        grid-template-rows: 1fr 1fr;
    }
    .score-details{grid-area: two;}
    .score-details{
        margin: auto auto;
        width: 80%;
        display: grid;
        grid-template-rows: 1fr 1fr .7fr;
        justify-content: center;
    }
    .score-details > div{
        display: grid;
        grid-template-rows: 65% 35% ;
        text-align: center;
    }
    .score-details span{
        font-size: 1.5rem;
    }
    .score-details p{
        padding: .2rem 0 .5rem 0;
        font-size: .8rem;
    }
    #result{
        font-size: 1rem;
        /* padding-top: 0rem; */
    }
    button:hover{
        transform: translateY(0);
    }
    .container{
        width: 100%;
        height: 100%;
    }
    .player-section,.computer-section{
        margin: auto auto;
    }    
    #comp-img,#plyr-img{
        transform: scale(2);
    }

    .selection{
        margin: 1rem 0;
    }
    .bestof{
        padding: 1rem;
    }
    button{
        height: 2rem;
    }
}